<form [formGroup]="myForm" (ngSubmit)="onSubmit()">

  <button type="submit" class="btn btn-primary">Submit</button>
  <br />
  {{ test }}

  <pre>First name dirty: {{ firstName.dirty }}</pre>
  <pre>Last name dirty: {{ lastName.pristine }}</pre>

  <br />
  <fieldset formGroupName="name">
    <!-- FIRST NAME -->
    <div class="form-group" [ngClass]="{
      'has-danger': firstName.dirty,
      'has-success': firstName.pristine
    }">
      <label>First Name</label>
      <input type="text" class="form-control" formControlName="firstName">
    </div>
    <div *ngIf="firstName.dirty" [ngClass]="'red-text'">
      <label>First Name label has been edited.</label>
    </div>
    <!-- LAST NAME -->
    <div class="form-group" [ngClass]="{
      'has-danger': lastName.dirty,
      'has-success': lastName.pristine
    }">
        <label>Last Name</label>
        <input type="text" class="form-control" formControlName="lastName">
      </div>
  </fieldset>

  <!-- EMAIL -->
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" formControlName="email">
  </div>

  <!-- PASSWORD -->
  <div class="form-group">
    <label>Password</label>
    <input type="text" class="form-control" formControlName="password">
  </div>

  <!-- LANGUAGE -->
  <div class="form-group">
    <label>Language:</label>
    <select class="form-control" formControlName="language">
      <option value="">Please select a language</option>
      <option *ngFor="let language of langs" [value]="language">{{ language }}</option>
    </select>
  </div>
</form>
