<div class="row">
  <button type="button" class="btn btn-primary" (click)="doGet()">GET</button>
  <pre>{{ getData | json }}</pre>
</div>

<div class="row">
  <button type="button" class="btn btn-primary" (click)="doPost()">POST</button>
  <pre>{{ postData | json }}</pre>
</div>

<div class="row">
  <button type="button" class="btn btn-primary" (click)="doPut()">PUT</button>
  <pre>{{ putData | json }}</pre>
</div>

<div class="row">
  <button type="button" class="btn btn-primary" (click)="doDelete()">DELETE</button>
  <pre>{{ deleteData | json }}</pre>
</div>

<div class="row">
  <button type="button" class="btn btn-primary" (click)="doGetAsPromise()">GET as Promise</button>
  <pre>{{ getAsPromiseData | json }}</pre>
</div>

<div class="row">
  <button type="button" class="btn btn-primary" (click)="doGetAsPromiseError()">GET as Promise Error</button>
  <pre>{{ getAsPromiseErrorData | json }}</pre>
</div>

<div class="row">
  <button type="button" class="btn btn-primary" (click)="doGetWithHeaders()">GET with Headers</button>
  <pre>{{ getWithHeadersData | json }}</pre>
</div>
